.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}
div{
    flex-grow: 1;
}
.row div{
   margin: 0 2px;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.last{
    flex-grow: 2;
}
.end{
    margin-top: 4px;
}

